/* Styles généraux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #d55b5b;
    color: #b64b4b;
}

/* Header */
.header {
    background-color: #bb4444;
    padding: 10px 0;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 21px;
}

.nav-bar .logo a {
    font-size: 24px;
    font-weight: bold;
    color: #00e42e;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

/* Section Hero */
.hero-section {
    background: url('https://via.placeholder.com/1500x800') no-repeat center center/cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: bold;
}

.hero-content p {
    font-size: 20px;
    margin: 10px 0;
}

.hero-content button {
    padding: 10px 30px;
    font-size: 16px;
    background-color: #ff8a00;
    color: #fd0b0b;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.hero-content button:hover {
    background-color: #e67e00;s
}

/* Footer */
.footer {
    background-color: #111;
    color: #f70101;
    padding: 20px;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links a {
    color: #020000;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}
.hero-section {
    background: url('images/image1.jpg') no-repeat center center/cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.hero-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
